{% load static %}
{% load member_profile %}

<!DOCTYPE html>
<html lang="pt-BR">

    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'other_profile/css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'other_profile/css/nav.css' %}">
        <title>{{ user.complete_name }}</title>
    {% endblock head %}

<body>
    {% include 'global/partials/navbar.html' %}

    <section>
        <div class="container-fluid">
            <!-- Informações do perfil -->
            <div id="profile-container" class="row">
                <div class="col-12 profile-bio">
                    <div class="card card-profile-bio">
                        <div class="d-flex">
                            <img src="/media/{{ profile.profile_picture }}" class="profile-picture" alt="Profile Picture">
                            <div class="card-body card-body-profile">
                                <h5 class="card-title user-name">{{ user.complete_name }}</h5>
                                <div class="card-text text-bio">{{ profile.bio|linebreaks }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="profile-menu">
            <div class="d-flex justify-content-between w-100">
                <!-- Grupo Esquerdo (ADM) -->
                <div>
                    {% if is_admin %}
                        <a class="nav-link btn-adm text-grey" href="{% url 'manager:admin' %}">
                            <i class="fas fa-user-shield"></i>
                        </a>
                    {% endif %}
                </div>
        
                <!-- Grupo Central (Menu) -->
                <div class="nav nav-tabs justify-content-center flex-nowrap" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#pub" role="tab" aria-controls="nav-posts" aria-selected="true">Devocionais</a>
                    <a class="nav-item nav-link text-grey" id="nav-followers-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="nav-followers" aria-selected="false">Galeria</a>
                </div>
        
                <!-- Grupo Direito (Whatsapp) -->
                <div>
                    {% if is_admin or is_coordinator %}
                    <a class="nav-link btn-config" href="{% return_user_whatsapp user.id %}">
                        <i class="fab fa-whatsapp fa-1x" style="font-size: 1.3em;"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </section>

    <div class="wrapper">
        <div class="content">
            <div class="tab-content" id="nav-tabContent">
                <!-- Publicações -->
                {% include 'other_profile/pages/partials/posts.html' %}

                <!-- Galeria -->
                {% if profile.show_gallery %}
                    {% include 'other_profile/pages/partials/gallery.html' %}
                {% endif %}
            </div>

        </div>
    </div>

    {% include 'global/partials/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'other_profile/js/profile.js' %}"></script>
</body>
</html>