{% load static %}

<header>
    <nav class="navbar">
        <a class="navbar-brand" href="{% url "home"%}">
            <img src="{% static 'ico.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <div class="" id="navbarNav">
            <a class="nav-link" href="{% url 'manager:admin' %}">
                <i class="fa fa-home"></i> 
            </a>
            <a class="nav-link" href="{% url 'manager:users' %}">
                <i class="fas fa-user-cog"></i>
            </a>
            <a class="nav-link" href="{% url 'manager:congregations' %}">
                <i class="fas fa-church"></i>
            </a>
            <a class="nav-link" href="{% url 'manager:members' %}">
                <i class="fas fa-address-card"></i>
            </a>
            <a class="nav-link" href="{% url 'manager:users_roles' %}">
                <i class="fas fa-key"></i>
            </a>
            <div class="dropdown">
                <a class="nav-link" href="#">
                    <i class="fas fa-user"></i> <!-- Adiciona o ícone de perfil -->
                </a>
                <div class="dropdown-content">
                    {% if not is_authenticated %}
                    <a href="{% url "profiles:login" %}">Entrar</a>
                    <a href="{% url "profiles:register" %}">Cadastrar</a>
                    {% else %}
                    <a href="{% url "profiles:profile" %}">Perfil</a>
                    <a href="{% url "profiles:logout" %}">Sair</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>