{% load static %}

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
    <div class="fixed-top fixado">
        <nav class="navbar">
            <a class="navbar-brand" href="{% url "home"%}">
                <img src="{% static 'ico.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
            </a>
            <div class="" id="navbarNav">
                <a class="nav-link" href="{% url "store"%}">
                    <i class="fa fa-store"></i><!-- Adiciona o ícone de notícias -->
                </a>
                <div class="dropdown">
                    <a class="nav-link" href="#">
                        <i class="fas fa-user"></i> <!-- Adiciona o ícone de perfil -->
                    </a>
                    <div class="dropdown-content">
                        {% if not is_authenticated %}
                        <a href="{% url "profiles:login" %}">Entrar</a>
                        <a href="{% url "profiles:register" %}">Cadastrar</a>
                        {% else %}
                        <a href="{% url "profiles:profile" %}">Perfil</a>
                        <a href="#">Sair</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <!-- Informações do perfil -->
            <div id="profile-container" class="row">
                <div class="col-12 profile-bio">
                    <div class="card card-profile-bio">
                        <div class="d-flex">
                            <img src="/media/{{ profile.profile_picture }}" class="profile-picture" alt="Profile Picture">
                            <div class="card-body card-body-profile">
                                <h5 class="card-title user-name">{{ user.complete_name }}</h5>
                                <div class="card-text text-bio">{{ profile.bio|linebreaks }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botão de configuração -->
        </div>
    
        <nav class="profile-menu">
            <div class="nav nav-tabs justify-content-center flex-nowrap w-100" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#pub" role="tab" aria-controls="nav-posts" aria-selected="true">Publicações</a>
                <a class="nav-item nav-link text-grey" id="nav-followers-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="nav-followers" aria-selected="false">Galeria</a>
                <a class="nav-item nav-link text-grey" id="nav-following-tab" data-toggle="tab" href="#pedidos" role="tab" aria-controls="nav-following" aria-selected="false">Pedidos</a>
                {% comment %} <a class="nav-item nav-link text-grey" id="nav-following-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="nav-following" aria-selected="false">Configuração</a> {% endcomment %}
                <a class="nav-item nav-link btn-config text-grey" id="nav-following-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="nav-following" aria-selected="false">
                    <span class="material-icons">
                        settings
                    </span>
                </a>
            </div>
        </nav>
    </div>
</header>