{% load static%}

<div class="tab-pane fade show active" id="pub">
    <div id="pub" class="container-fluid">
        <div class="row justify-content-center mx-auto" style="width: auto;">
            <div class="profile-posts">
                <div class="row row-profile-posts">
                    {% for post in posts %}
                        <div class="card pub-profile" style="position: relative;">
                            <div class="card-img-top pub-image-card" style="background-image: url('{{ post.img }}');" alt="{{ post.title }}"></div>
                            <div class="card-body pub-title">
                                <h5 class="card-title"><i><q>{{ post.title }}</q></i></h5>
                            </div>
                            <div style="position: absolute; bottom: 0; width: 100%;">
                                <a href="#" class="btn btn-primary pub-btn">Leia mais</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>