body {
    padding-top: 55px; /* Ajuste este valor para corresponder à altura da sua navbar */
    background-color: #01040e;
}

.navbar {
    background-color: #d4d4d4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* para garantir que a navbar esteja sempre no topo */
}

.nav-link {
    color: #000;
}

.navbar-toggler-icon {
    background-color: #000;
}

#navbarNav {
    justify-content: flex-end;
    display: flex;
}

.navbar-nav {
    display: flex;
    /* Faz com que os itens do menu fiquem na mesma linha */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0; /* Alinha o menu suspenso à direita */
}

.dropdown-content a {
    display: block; /* Coloca cada item do menu em uma nova linha */
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}