{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
        <title>Eventos</title>
    {% endblock head %}

    <body>
        <!-- Barra de Navegação -->
        {% include 'global/partials/navbar.html' %}

        <!-- Banner de exibição do evento selecionado -->
        <div id="eventBanner_2" style="background-image: url('/media/events/default/bg.png')">
            <img id="eventLogo" src="/media/events/default/logo.png" alt="{{ next_event.title }}">
        </div>

        <!-- Lista dos próximos eventos -->
        <div id="calendar">
            {% for i in events %}
                <!-- Adicione um atributo 'data-banner-url' com a URL do banner do evento -->
                <div class="event" data-banner-url="{{ i.background.url }}" data-logo-url="{{ i.logo.url }}" onclick="changeBanner(this)">
                    <div class="event-title">{{ i.title }}: {{ i.theme }}</div>
                    <div class="event-detail">Data: {{ i.date }}</div>
                    <div class="event-detail">Hora: {{ i.hours }}</div>
                    <div class="event-detail">Local: {{ i.congregation }}</div>
                </div>
            {% endfor %}
        </div>

        {% if is_admin or is_coordinator or is_media_manager %}
        <a id="float-btn" href="{% url 'events:criar_evento' %}" class="floating-btn">+</a>
        {% endif %}
        <!-- Seção de Rodapé -->
        {% include 'global/partials/footer.html' %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function changeBanner(eventElement) {
                // Obtém a URL do banner a partir do atributo de dados do evento clicado
                var bannerUrl = eventElement.getAttribute('data-banner-url');
                var logoUrl = eventElement.getAttribute('data-logo-url');
                
                // Certifica-se de que a URL do banner começa com '/media/'
                var correctedBannerUrl = bannerUrl;
                var correctedLogoUrl = logoUrl;
                
                // Atualiza o banner na parte superior da página
                document.getElementById('eventBanner_2').style.backgroundImage = 'url(' + correctedBannerUrl + ')';
                document.getElementById('eventLogo').src = correctedLogoUrl;
            }
        </script>
    </body>
</html>