body {
    background-color: #01040e;
}

.fixado {
    background-color: #d4d4d4;
}

/* Biografia do usuario */

.profile-bio {
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
}

.user-name {
    font-size: 1.2em;
    font-weight: bold;
}

.text-bio p {
    font-size: 1.1em;
    color: #666;
}

.profile-picture {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .text-bio p {
        font-size: 1em;
    }

    .profile-picture {
        margin-right: 0%;
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 390px) {
    .text-bio p {
        font-size: 0.8em;
    }

    .profile-picture {
        margin-right: 0%;
        width: 110px;
        height: 110px;
    }

    .user-name {
        font-size: 1em;
        font-weight: bold;
    }
    
}

.card-body-profile {
    flex: 1;
    padding-bottom: 0%;
    padding-top: 15px;
}

/* Menu do perfil */

.profile-menu {
    width: 100%;
    background-color: #d4d4d4;
    color: #474747;
    padding-right: 0%;
}

@media (max-width: 600px) {
    .profile-menu {
        font-size: 0.8em;
    }
}

.text-grey {
    color: rgb(148, 146, 146);
}

