/* Estilos de Configuração Geral */
#settingsx {
    margin-top: 28vh;
}

@media (max-width: 720px) {
    #settingsx {
        margin-top: 26vh;
    }
}

@media (max-height: 667px) {
    #settingsx {
        margin-top: 28vh;
    }
}

#settings {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    #settings {
        width: 90%;
    }
}

#settings label {
    color: white;
}

/* Estilos de Alinhamento */
.label-center {
    text-align: center;
    display: block;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-wide {
    width: 100%;
}

/* Estilos de Controle de Formulário */
.form-control {
    margin-bottom: 15px;
}

#profile_picture_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form_profile_picture {
    display: none;
}

/* Estilos de Inputs do Formulário */
#form_current_password,
#form_new_password,
#form_number_phone,
#form_complete_name,
#form_church {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#form_bio {
    display: block;
    width: 100%;
    height: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none;
}

#settingsx {
    display: flex;
    flex-direction: column;
    align-items: center;
}
