{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
        <title>Home</title>
    {% endblock head %}

    <body>
        <!-- Barra de Navegação -->
        {% include 'global/partials/navbar.html' %}

        <!-- Carrossel -->
        {% include "global/partials/carousel.html" %}

        <!-- Seção 1 -->
        <section id="section-one" style="background-image: url('{% static '' %}{{ next_event.bg }}'); position: relative;">
            <img id="eventid" src="{% static '' %}{{ next_event.banner }}" alt="">
            <button>Ver Mais</button>
        </section>
        
        <!-- Seção 2 -->
        <section id="section-two">
            <div class="row articles-container">
                {% for i, artic in article.items %}
                <div class="col-6 col-md-3">
                    <div class="card">
                        <div class="card-img-top" style="background-image: url('{% static '' %}{{ artic.image.url }}');" alt="{{ artic.title }}"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{ artic.title }}</h5>
                            <p class="card-text">{{ artic.text|truncatechars:55 }}</p>
                            <a href="{{ artic.link }}" class="btn btn-primary">Leia mais</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Seção de Rodapé -->
        {% include 'global/partials/footer.html' %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>