{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
        <!-- Inclua o CSS do Quill -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <title>Criar Devocionais</title>
    {% endblock head %}
    <style>
        {% comment %} #backgroundPreview {
            padding: 80px 0;
            position: relative;
            background-color: #d4d4d4;
            background-size: cover;
            background-position: left center;
            height: 20vh;
        } {% endcomment %}
    
        #bannerPreview {
            width: 100%; /* Garante que a largura seja de 100% */
            height: auto; /* Ajusta a altura automaticamente para manter a proporção */
            aspect-ratio: 32 / 9; /* Mantém a proporção de 21:9 */
            position: absolute;
            min-height: 100%; /* Garante que a altura mínima seja de 100% */
            object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorção */
        }

        #backgroundPreview {
            background-color: #d4d4d4;
            position: relative;
            width: 100%;
            aspect-ratio: 32/9;
        }
    
        #title-calendar {
            width: 93%;
        }
    
        #theme-calendar {
            width: 93%;
        }

        
    </style>
</head>
<body>
    <!-- Barra de Navegação -->
    {% include 'global/partials/navbar.html' %}

    <!-- Notificação -->
    {% if notification %}
        <div style="background-color: red; color: white; text-align: center; padding: 10px; position: fixed; top: 50px; left: 0; width: 100%; z-index: 1000;">
            Algo não está preenchido, favor corrigir!.
        </div>
    {% endif %}

    <!-- Contêiner principal -->
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>CRIE SEU DEVOCIONAL</h1>
            </div>

            <!-- Preview do banner -->
            <section id="backgroundPreview">
                <img id="bannerPreview" src="#" alt="Pré-visualização do Banner" style="display:none;"/>
            </section>

            <!-- Formulário de criação de artigo -->
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Contêiner do título -->
                    <div class="form-group d-flex align-items-baseline">
                        <label for="title">Tema:  </label>
                        <input type="text" id="title" name="title" class="form-control" required>
                    </div>

                    <!-- Contêiner da referencia biblica -->
                    <div class="form-group d-flex align-items-baseline form-custom">
                        <label for="book" class="mr-2">Livro:</label>
                        <select id="book" name="book" class="form-control mr-2" required>
                            <option value="">Selecione um livro</option>
                            <option value="Gênesis">Gênesis</option>
                            <option value="Êxodo">Êxodo</option>
                            <option value="Levítico">Levítico</option>
                            <option value="Números">Números</option>
                            <option value="Deuteronômio">Deuteronômio</option>
                            <option value="Josué">Josué</option>
                            <option value="Juízes">Juízes</option>
                            <option value="Rute">Rute</option>
                            <option value="1 Samuel">1 Samuel</option>
                            <option value="2 Samuel">2 Samuel</option>
                            <option value="1 Reis">1 Reis</option>
                            <option value="2 Reis">2 Reis</option>
                            <option value="1 Crônicas">1 Crônicas</option>
                            <option value="2 Crônicas">2 Crônicas</option>
                            <option value="Esdras">Esdras</option>
                            <option value="Neemias">Neemias</option>
                            <option value="Ester">Ester</option>
                            <option value="Jó">Jó</option>
                            <option value="Salmos">Salmos</option>
                            <option value="Provérbios">Provérbios</option>
                            <option value="Eclesiastes">Eclesiastes</option>
                            <option value="Cântico dos Cânticos">Cântico dos Cânticos</option>
                            <option value="Isaías">Isaías</option>
                            <option value="Jeremias">Jeremias</option>
                            <option value="Lamentações">Lamentações</option>
                            <option value="Ezequiel">Ezequiel</option>
                            <option value="Daniel">Daniel</option>
                            <option value="Oséias">Oséias</option>
                            <option value="Joel">Joel</option>
                            <option value="Amós">Amós</option>
                            <option value="Obadias">Obadias</option>
                            <option value="Jonas">Jonas</option>
                            <option value="Miquéias">Miquéias</option>
                            <option value="Naum">Naum</option>
                            <option value="Habacuque">Habacuque</option>
                            <option value="Sofonias">Sofonias</option>
                            <option value="Ageu">Ageu</option>
                            <option value="Zacarias">Zacarias</option>
                            <option value="Malaquias">Malaquias</option>
                            <option value="Mateus">Mateus</option>
                            <option value="Marcos">Marcos</option>
                            <option value="Lucas">Lucas</option>
                            <option value="João">João</option>
                            <option value="Atos">Atos</option>
                            <option value="Romanos">Romanos</option>
                            <option value="1 Coríntios">1 Coríntios</option>
                            <option value="2 Coríntios">2 Coríntios</option>
                            <option value="Gálatas">Gálatas</option>
                            <option value="Efésios">Efésios</option>
                            <option value="Filipenses">Filipenses</option>
                            <option value="Colossenses">Colossenses</option>
                            <option value="1 Tessalonicenses">1 Tessalonicenses</option>
                            <option value="2 Tessalonicenses">2 Tessalonicenses</option>
                            <option value="1 Timóteo">1 Timóteo</option>
                            <option value="2 Timóteo">2 Timóteo</option>
                            <option value="Tito">Tito</option>
                            <option value="Filemom">Filemom</option>
                            <option value="Hebreus">Hebreus</option>
                            <option value="Tiago">Tiago</option>
                            <option value="1 Pedro">1 Pedro</option>
                            <option value="2 Pedro">2 Pedro</option>
                            <option value="1 João">1 João</option>
                            <option value="2 João">2 João</option>
                            <option value="3 João">3 João</option>
                            <option value="Judas">Judas</option>
                            <option value="Apocalipse">Apocalipse</option>
                        </select>
                    
                        <label for="chapter" class="mr-2">Capítulo:</label>
                        <input type="number" id="chapter" name="chapter" class="form-control mr-2" min="1" required>
                    
                        <label for="verse" class="mr-2">Versículo:</label>
                        <input type="number" id="verse" name="verse" class="form-control mr-2" min="1" required>
                    
                        <label for="verse2" class="mr-2">a</label>
                        <input type="number" id="verse2" name="verse2" class="form-control" min="1">
                    </div>

                    <!-- Contêiner do Editor Quill -->
                    <div class="form-group">
                        <label for="editor">Texto:</label>
                        <div id="editor" style="height: 300px;">
                            <p></p>
                        </div>
                        <!-- Campo oculto para armazenar o texto do Quill -->
                        <input type="hidden" name="content" id="content" required>
                    </div>

                    <!-- Campo de upload do banner -->
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" id="banner" name="banner" class="custom-file-input" required>
                            <label class="custom-file-label" for="banner">Selecione o banner...</label>
                        </div>
                    </div>

                    {% comment %} <div class="form-group form-check">
                        <input type="checkbox" id="official" name="official" class="form-check-input">
                        <label for="official" class="form-check-label">Oficial</label>
                    </div> {% endcomment %}

                    <button type="submit" class="btn btn-primary">Publicar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Seção de Rodapé -->
    {% include 'global/partials/footer.html' %}
    

    <!-- Inclua o JS do Quill -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Script para inicializar o Quill -->
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote'],
    
                    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction
    
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
    
                    ['clean']                                         // remove formatting button
                ]
            }
        });
    
        // Quando o formulário for enviado, popule o campo oculto com o conteúdo do Quill
        var form = document.querySelector('form');
        form.onsubmit = function() {
            // Pega o HTML gerado pelo Quill
            var html = quill.root.innerHTML;
            // Coloca esse HTML no campo oculto
            document.querySelector('input[name=content]').value = html;
            // Retorna true para continuar com o envio do formulário
            return true;
        };
    </script>
    
    <!-- Script do preview -->
    <script>
        document.getElementById('banner').addEventListener('change', function(event){
            var reader = new FileReader();
            
            reader.onload = function(){
                var output = document.getElementById('bannerPreview');
                output.src = reader.result;
                output.style.display = 'block'; // Torna a pré-visualização visível
            };
            
            if(event.target.files[0]){
                reader.readAsDataURL(event.target.files[0]);
            }else{
                // Esconde a pré-visualização se nenhum arquivo for selecionado
                var output = document.getElementById('bannerPreview');
                output.style.display = 'none';
            }
        });
    </script>

    <!-- Script para exibir o nome do arquivo no input -->
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("banner").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });
    </script>
</body>
</html>