{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'cart/css/store.css' %}">
        <title>On</title>
    {% endblock head %}

    <body>
        {% include 'global/partials/navbar.html' %}

        <!-- Carrossel -->
        {% include "global/partials/carousel.html" %}

        <!-- Seção de Produtos -->
        {% include 'cart/pages/partials/all_products.html' %}

        <!-- Seção de Rodapé -->
        {% include 'global/partials/footer.html' %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <script src="{% static 'cart/js/products.js' %}"></script>
    </body>

</html>