<footer>
    <style>
        /* Estilos para garantir que o rodapé fique na parte inferior da página */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        footer {
            margin-top: auto;
            background-color: #f8f9fa; /* Cor de fundo do rodapé */
            color: #6c757d; /* Cor do texto do rodapé */
            text-align: center; /* Alinha o texto ao centro */
            padding: 6px 0 0 0; /* Espaçamento interno para dar altura ao rodapé */
            font-size: 0.9rem; /* Tamanho da fonte do texto do rodapé */
        }
    </style>

    <div class="footer-bottom">
        <p>&copy; 2024 ADJAF. Todos os direitos reservados.</p>
    </div>
</footer>