<header>
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            {% load static %}
            <img src="{% static 'ico.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <div class="" id="navbarNav">
            <a class="nav-link" href="/store">
                <i class="fa fa-store"></i><!-- Adiciona o ícone de notícias -->
            </a>
            <a class="nav-link" href="/profile">
                <i class="fas fa-user"></i> <!-- Adiciona o ícone de perfil -->
            </a>
        </div>
    </nav>
</header>