{% load static %}

<header>
    <nav class="navbar">
        <a class="navbar-brand" href="{% url "home"%}">
            <img src="{% static 'ico.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <div class="" id="navbarNav">
            {% comment %} <a class="nav-link" href="{% url "store"%}">
                <i class="fa fa-store"></i><!-- Adiciona o ícone de notícias -->
            </a> {% endcomment %}
            <a class="nav-link" href="{% url 'gallery:gallery' %}">
                <i class="bi bi-image-fill"></i><!-- Adiciona o ícone de galeria -->
            </a>
            <a class="nav-link" href="{% url 'events:eventos' %}">
                <i class="bi bi-calendar-fill"></i><!-- Adiciona o ícone de eventos -->
            </a>
            <a class="nav-link" href="{% url 'articles:all_articles' %}">
                <i class="bi bi-book-fill"></i><!-- Adiciona o ícone de artigos -->
            </a>
            {% if is_admin %}
            <div class="dropdown">
                <a class="nav-link">
                    <i class="fas fa-user-shield"></i>
                </a>
                <div class="dropdown-content">
                    <a class="nav-link" href="{% url 'manager:users' %}">
                        <i class="fas fa-user-cog"></i> Usuários
                    </a>
                    <a class="nav-link" href="{% url 'manager:congregations' %}">
                        <i class="fas fa-church"></i> Igrejas
                    </a>
                    <a class="nav-link" href="{% url 'manager:members' %}">
                        <i class="fas fa-address-card"></i> Umadjaf
                    </a>
                    <a class="nav-link" href="{% url 'manager:users_roles' %}">
                        <i class="fas fa-key"></i> Equipe
                    </a>
                    <a class="nav-link" href="{% url 'events:eventos_manager' %}">
                        <i class="fa fa-calendar"></i> Eventos
                    </a>
                    <a class="nav-link" href="{% url 'articles:articles_manager' %}">
                        <i class="fa fa-italic"></i>  Devocionais
                    </a>
                    <a class="nav-link" href="{% url 'carrousel' %}">
                        <i class="fas fa-columns"></i> Carrosel
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="dropdown">
                <a class="nav-link">
                    <i class="bi bi-person-fill"></i> <!-- Adiciona o ícone de perfil -->
                </a>
                <div class="dropdown-content">
                    {% if not is_authenticated %}
                    <a href="{% url "users:login" %}">Entrar</a>
                    <a href="{% url "users:register" %}">Cadastrar</a>
                    {% else %}
                    <a href="{% url "users:profile" %}">Perfil</a>
                    <a href="{% url "users:logout" %}">Sair</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>