/* Carousel Section */
.carousel-item {
    height: 0;
    padding-bottom: 45%; /* 16:9 aspect ratio */
    position: relative;
}

@media (max-width: 600px) {
    .carousel-item {
        padding-bottom: 56%; /* 16:9 aspect ratio for smaller screens */
    }
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

/* Articles Section */
#section-two {
    position: relative;
    background-color: #01040e;
    padding: 25px 0;
}

#section-two h1 {
    color: white;
    position: relative;
    margin-right: clamp(10px, 5vw, 80px);
    z-index: 2;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 32/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-top: -30px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform .2s;
    position: relative;
    z-index: 1;
}

.cardz:hover {
    transform: scale(1.1);
    z-index: 2;
}

.articles-container {
    margin: 15px 50px 0 50px;
}

@media (max-width: 600px) {
    .articles-container {
        margin: 15px 5px 0 5px;
    }
}

/* Form Customization for Responsive Design */
@media (max-width: 768px) {
    .form-custom {
        flex-direction: column;
        align-items: stretch;
    }
    .form-custom .form-control, .form-custom label {
        margin-bottom: 10px;
    }
    .form-custom .form-control {
        width: auto;
    }
}

/* Publication Titles */
.pub-title .card-title {
    font-size: 1.3em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pub-title .card-text {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 900px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .pub-title .card-title, .pub-title .card-text {
        font-size: 1.1em;
        text-align: center;
    }
}

/* Floating Buttons */
.floating-btn, .floating-btn2 {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 70px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
}

.floating-btn2 {
    right: 70px;
    font-size: 25px;
    text-align: center; /* Alinha o texto horizontalmente */
    display: flex; /* Habilita o uso de Flexbox */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
}

.floating-btn:hover, .floating-btn:active, .floating-btn:focus,
.floating-btn2:hover, .floating-btn2:active, .floating-btn2:focus {
    text-decoration: none;
    color: #fff;
    outline: none;
}

/* Devotional Preview */
#bannerPreview {
    width: 100%;
    height: auto;
    aspect-ratio: 32 / 9;
    position: absolute;
    min-height: 100%;
    object-fit: cover;
}

#backgroundPreview {
    background-color: #d4d4d4;
    position: relative;
    width: 100%;
    aspect-ratio: 32/9;
}

/* Text Formatting */
blockquote p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    #publisher, blockquote p {
        font-size: 0.8rem;
    }
}

/* Action Buttons */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#deleteButton, #verifyButton, #unverifyButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deleteButton, #unverifyButton {
    background-color: #ff4d4d;
    color: white;
}

#verifyButton {
    background-color: #4CAF50;
    color: white;
}


/* Pagination */
.page-links {
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
    align-items: center; /* Centraliza os links verticalmente (se necessário) */
    margin-top: auto; /* Empurra a div para o fundo se estiver dentro de um flex container */
    /* margin-bottom: 40px; */
    z-index: 900;
    width: 100%; /* Garante que a div ocupe a largura total */
    position: fixed; /* Fixa a div na parte inferior da viewport */
    bottom: 0; /* Posiciona a div no fundo da página */
    background-color: #f8f9fa; /* Cor de fundo (opcional) */
    padding: 10px 0; /* Espaçamento interno para separar o conteúdo das bordas */
}