body {
    font-family: Arial, sans-serif;
    background-color: #01040e;
}

.floating-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #007bff; /* Cor do Bootstrap para btn-primary */
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 60px; /* Centraliza o + verticalmente */
    z-index: 1000;
    cursor: pointer;
    /* box-shadow: 2px 2px 3px #999; Removido para eliminar sombreamento */
    text-decoration: none; /* Evita texto sublinhado */
}

/* Estilo para o ícone ou texto dentro do botão, se necessário */
.floating-btn i {
    vertical-align: middle;
}

/* Garante que o botão não fique sublinhado ao passar o mouse ou clicar */
.floating-btn:hover, .floating-btn:active, .floating-btn:focus {
    text-decoration: none;
    color: #fff; /* Mantém a cor do texto ao interagir */
    outline: none; /* Remove o contorno que pode aparecer ao clicar */
}

/* Abre Galeria de imagens */
.profile-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    margin: 5px;
    margin-top: 2px;
}

.row-profile-gallery .card { /* Substitua `.card` pelo seletor correto dos seus cards */
    margin: 5px; /* Ajuste as margens conforme necessário */
    background-color: #01040e;
    max-width: calc(33.333% - 10px); /* Exemplo para 3 cards por linha, ajuste a porcentagem conforme necessário */
    box-sizing: border-box; /* Garante que padding e border não afetem a largura total */
}

@media (max-width: 768px) {
    .row-profile-gallery .card {
        max-width: calc(50% - 10px); /* Ajuste para 2 cards por linha em telas menores */
    }
}

.gallery-profile {
    display: flex;
    width: 100%; /* Mantém a largura responsiva */
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Para posicionar o botão Leia Mais */
}

.gallery-profile img {
    width: 100%; /* Mantém a largura responsiva */
    height: auto; /* Altura automática para manter a proporção */
    aspect-ratio: 1 / 1; /* Garante que o elemento seja sempre quadrado */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção, recortando conforme necessário */
}

.profile-gallery {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .profile-gallery {
        margin-top: 10px;
    }
    
}


/* Fecha Galeria de imagens */

/* Abre Publicações */
.profile-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    margin: 5px;
    margin-top: 2px;
}

.row-profile-posts .card { /* Substitua `.card` pelo seletor correto dos seus cards */
    margin: 5px; /* Ajuste as margens conforme necessário */
    max-width: calc(50% - 10px); /* Exemplo para 3 cards por linha, ajuste a porcentagem conforme necessário */
    box-sizing: border-box; /* Garante que padding e border não afetem a largura total */
}

.pub-title .card-title {
    font-size: 1.4em; /* Tamanho do título */
    text-align: center; /* Justifica o texto */
}

.pub-title .card-text {
    text-align: center; /* Justifica o texto */
}

.pub-title {
    padding-bottom: 2px;
}



@media (max-width: 768px) {
    .row-profile-posts .card {
        min-width: calc(100% - 10px); /* Ajuste para 2 cards por linha em telas menores */
    }

    .pub-title .card-title {
        font-size: 1.2em; /* Tamanho do título */
        text-align: center; /* Garante que o texto continue justificado em telas menores */
    }

    .pub-title .card-text {
        font-size: 0.8em; /* Tamanho do texto */
        text-align: center; /* Garante que o texto continue justificado em telas menores */
    }

    .card-footer {
        padding-bottom: 3px;
    }

    
}

/* Estilo para as cards */
.pub-profile {
    display: flex;
    aspect-ratio: 16/9;
    width: 800px; /* Mantém a largura responsiva */
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Para posicionar o botão Leia Mais */
}

.pub-image-card {
    width: 100%; /* Mantém a largura responsiva */
    aspect-ratio: 32 / 9; /* Garante que o elemento seja sempre quadrado */
    background-size: cover;
    background-position: center;
}

/* Botão Leia Mais ajustado ao fundo */
.pub-btn {
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-footer {
    padding: 0;
}

/* Ajuste para o texto do botão */
@media screen and (max-width: 768px) {
    .pub-btn {
        font-size: 0.8em;
    }

    .pub-profile {
        width: 350px; /* Mantém a largura responsiva */
}

/* Fecha Publicações */

/* Abre Config */
#settings {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%; /* Ajuste este valor conforme necessário */
    margin: auto;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    #settings {
        width: 90%;
    }
}

#settings label {
    color: white;
}

.label-center {
    text-align: center;
    display: block;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-wide {
    width: 100%; /* Ajuste este valor conforme necessário */
}

/* Pedidos */
.card-pedidos {
    height: 47.9vh;
    overflow: auto;
}

@media (max-width: 1920px){
    .card-pedidos {
        height: 53.7vh;
    }
}

@media (max-width: 1366px) {
    .card-pedidos {
        height: 34.7vh;
    }
}

@media (max-width: 1280px) {
    .card-pedidos {
        height: 32.7vh;
    }
}

@media (max-width: 1024px) and (max-height: 1366px) {
    .card-pedidos {
        height: 63vh;
    }
}

@media (max-width: 414px) {
    .card-pedidos {
        height: 46vh;
    }
}

@media (max-width: 375px) {
    .card-pedidos {
        height: 28vh;
    }
}

.header-pedidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #01040e;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card.pedidos-profile {
    color: #000; /* Fonte escura */
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.card.pedidos-profile .left-content {
    display: flex;
    justify-content: flex-start; /* Alinha à extrema esquerda */
}

.card.pedidos-profile .right-content {
    justify-content: flex-end; /* Alinha à extrema direita */
}

.card.pedidos-profile img {
    margin-right: 10px;
}

#pedidoimg {
    width: 50px;
    height: 50px;
}

.title-pedido {
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .title-pedido {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 7em; /* Ajuste este valor para corresponder ao número de caracteres que você deseja exibir */
    }
}


