{% load static %}

<div class="tab-pane fade" id="gallery">
    <div id="gallery" class="container-fluid">
        <div class="row justify-content-center mx-auto" style="width: auto;">
            <div class="profile-gallery">
                <div class="row row-profile-gallery">
                    {% for post in posts %}
                        <div class="card gallery-profile">
                            <img src="/media/{{ post.banner }}" class="card-img-top gallery-image" alt="{{ post.title }}">
                        </div>
                    {% empty %}
                        <div class="col-12 d-flex justify-content-center align-items-center" style="color: white; font-weight: bold; font-size: 20px; height: 50vh;">
                            Nenhuma foto encontrada.
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>