{% load static %}
{% load member_profile %}

<div class="tab-pane fade" id="group-member">
    <div class="container-fluid">
        <div class="row justify-content-center mx-auto" style="width: auto;">
            {% for member in group_members %}
            <div class="card card-group-member">
                <img src="{% return_profile_picture member.id %}" class="img-group-member" alt="Profile Picture">
                <div class="details-group-member">
                    <div class="name-group-member">{{ member.complete_name }}</div>
                    <div class="bio-group-member">{% return_profile_bio member.id %}</div>
                </div>
                <a href="{% url 'users:other_profile' member.id %}" class="round-button">
                    <i class="fas fa-info-circle"></i>
                </a>
            </div>
            {% empty %}
            <div class="col-12 d-flex justify-content-center align-items-center" style="color: white; font-weight: bold; font-size: 15px; height: 20vh;">
                Nenhum membro encontrado.
            </div>
            {% endfor %}
        </div>
    </div>
</div>