{% load static %}

<div class="tab-pane fade" id="settings">
    <div id="settingsx" class="container">
        
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var url = "{% url 'users:settings' %}";
    
        $.get(url, function(data) {
            $('#settingsx').html(data);
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#form_profile_picture').change(function() {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#form_profile_picture_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>