{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    {% include "global/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'profiles/css/login.css' %}">
        <title>Login</title>
    {% endblock head %}

<body>
    <!-- Barra de Navegação -->
    {% include 'global/partials/navbar.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center text-white">Login</h2>
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="phone" class="text-white">Telefone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Telefone" oninput="formatPhoneNumber(this)" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-white">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'global/partials/footer.html' %}

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function formatPhoneNumber(input) {
            // Remove non-digits and replace with empty string
            let cleaned = ('' + input.value).replace(/\D/g, '');
        
            // Check if the input is of correct length
            let match = cleaned.match(/^(\d{2})(\d{4,5})(\d{4})$/);
            if (match) {
                // Insert parentheses and hyphen
                input.value = '(' + match[1] + ') ' + match[2] + '-' + match[3];
            }
        }
    </script>
</body>
</html>