{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

    {% include "profiles/pages/partials/head.html" %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
        <title>{{ user.name }}</title>
    {% endblock head %}

<body>
    {% include 'profiles/pages/partials/nav.html' %}

    <div class="wrapper">
        <div class="content">
            <div class="tab-content" id="nav-tabContent">

                <!-- Publicações -->
                {% include 'profiles/pages/partials/posts.html' %}
            
                <!-- Galeria -->
                {% include 'profiles/pages/partials/gallery.html' %}

                <!-- Pedidos -->
                {% include 'profiles/pages/partials/orders.html' %}
            
                <!-- Configurações -->
                {% include 'profiles/pages/partials/settings.html' %}

            </div>

        </div>
    </div>

    {% include 'global/partials/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'profiles/js/profile.js' %}"></script>
    <script>
        $(document).ready(function() {
            var url = 'profiles:settings';

            $.get(url, function(data) {
                // Substitua 'your-element-id' pelo ID do elemento HTML no qual você deseja inserir os dados
                $('#settings-x').html(data);
            });
        });
    </script>
</body>
</html>